node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.development
.env.production
.env.test
.nitro
.tanstack
.wrangler
.idea
stats.html

# Tests & Coverage
coverage
test-report
html
# I don't do AI stuff in this learning project
.gemini/
.agents/
agent.json
*.skill
